{% autoescape off %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>XYZ Company</title>
    </head>
    <body>
    <p>Hi <strong>{{ customer_email }}</strong>,</p>
    <p>Please register yourself and your company in XYZ website via the following link.</p>
    <a href="http://{{ domain }}{% url 'customer_register' uu_id=uid customer_email=customer_email_hash %}">Click here
        to register.</a>
    </body>
    </html>
{% endautoescape %}