{% extends "layout.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customerRegister.css' %}">
{% endblock head %}


{% block body %}
    <div class="text-center">
        <main class="form-signin w-100 m-auto">
            <h2 class="h3 mb-3 fw-normal align-items-baseline">XYZ Company Customer Registration</h2>
            <form id="customer_form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form1_fields">
                    <div class="form-floating">
                        {{ form.company }}
                        <label for="floatingInput">Company</label>
                        <div class="form-text">
                            If you can't find your company, we'll let you create it in the next step.
                        </div>
                    </div>
                    <div class="form-floating">
                        {{ form.email }}
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        {{ form.first_name }}
                        <label for="floatingPassword">First Name</label>
                    </div>
                    <div class="form-floating">
                        {{ form.last_name }}
                        <label for="floatingPassword">Last Name</label>
                    </div>
                    <div class="form-floating">
                        {{ form.password1 }}
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating">
                        {{ form.password2 }}
                        <label for="floatingPassword">Password Confirmation</label>
                    </div>
                    <button id="save_button" class="w-100 btn btn-lg btn-success mt-3"
                            style="border-radius: 0.25rem; font-size: 1rem;"
                            type="button">Sign up
                    </button>
                </div>
                <div class="form2_fields d-none">
                    <div class="form-floating">
                        {{ company_form.name }}
                        <label for="floatingInput">Company Name</label>
                    </div>
                    <div class="form-floating">
                        {{ company_form.address }}
                        <label for="floatingInput">Company Address</label>
                    </div>
                    <button id="save_button2" class="w-100 btn btn-lg btn-success mt-3"
                            style="border-radius: 0.25rem; font-size: 1rem;"
                            type="submit">Sign up
                    </button>
                </div>
            </form>
        </main>
    </div>
{% endblock body %}

{% block scripts %}
    <script>
        $('#save_button').click(function () {
            let company_value = $('#id_company').val();
            if (company_value != '') {
                $('#customer_form').submit();
            } else {
                $('.form1_fields').attr('hidden', 'true');
                setTimeout(function () {
                    $('.form2_fields').removeClass('d-none').fadeIn(200);
                }, 200);
            }
        });
    </script>
{% endblock scripts %}
